In [25]:
import pandas as pd
from io import StringIO
import requests
from plotnine import *
from dplython import (DplyFrame, X, diamonds, select, sift, sample_n,
    sample_frac, head, arrange, mutate, group_by, summarize, DelayFunction)

In [26]:
print('''

US Grappling Brazilian Jiu-jitsu Match Data from 2010-2019'
Submission Only Data for adult and points for Juvenile


''')

US Grappling Brazilian Jiu-jitsu Match Data from 2010-2019'
Submission Only Data for adult and points for Juvenile

In [38]:
df = pd.read_csv('MasterList.csv', delimiter=',')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8983 entries, 0 to 8982
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Match Time in Seconds  8933 non-null   object
 1   Gi/No Gi               8983 non-null   object
 2   Skill / Belt           8968 non-null   object
 3   Division               8983 non-null   object
 4   Submission             8864 non-null   object
 5   Team                   538 non-null    object
 6   Conference             8983 non-null   object
 7   Year                   8983 non-null   int64
dtypes: int64(1), object(7)
memory usage: 561.6+ KB

In [29]:
df['Gi/No Gi'] = df['Gi/No Gi'].astype('category')
df['Match Time in Seconds'] = pd.to_numeric(df['Match Time in Seconds'], errors='coerce')
df['Skill / Belt'] = df['Skill / Belt'].astype('category')
df['Division'] = df['Division'].astype('category')
df['Conference'] = df['Conference'].astype('category')
df['Submission'] = df['Submission'].astype('category')
df['Team'] = df['Team'].astype('category')

In [40]:
df

,Match Time in Seconds,Gi/No Gi,Skill / Belt,Division,Submission,Team,Conference,Year
0,195,GI,ADVANCED,JUVENILE,AMERICANA LOCK,NaN,RALEIGH 2018,2018
1,25,GI,ADVANCED,JUVENILE,AMERICANA LOCK,NaN,RALEIGH 2016,2016
2,302,NO GI,ADVANCED,MEN,AMERICANA LOCK,FLOW JIU JITSU,PHILLY 2010,2010
3,837,NO GI,ADVANCED,MEN 30+,AMERICANA LOCK,NaN,GREENSBORO 2015,2015
4,200,NO GI,ADVANCED,MEN,AMERICANA LOCK,NaN,VIRGINIA BEACH 2016,2016
...,...,...,...,...,...,...,...,...
8978,240,GI,NaN,JUVENILE,POINTS,NaN,VIRGINIA BEACH 2015,2015
8979,240,GI,NaN,JUVENILE,POINTS,NaN,VIRGINIA BEACH 2015,2015
8980,538,NO GI,NaN,MEN 30+,SCISSOR CHOKE,NaN,RICHMOND 2017,2017
8981,120,GI,NaN,JUVENILE,TRIANGLE,NaN,VIRGINIA BEACH 2015,2015
8982,114,GI,NaN,JUVENILE,NaN,NaN,VIRGINIA BEACH 2015,2015

In [42]:
cols_with_missing = df.columns[df.isnull().any()].tolist()
df[cols_with_missing].isnull().sum()

Match Time in Seconds      50
Skill / Belt               15
Submission                119
Team                     8445
dtype: int64

In [43]:
df_cleaned = df.dropna(subset=['Match Time in Seconds','Submission','Skill / Belt'])

In [45]:
cols_with_missing = df_cleaned.columns[df.isnull().any()].tolist()
df_cleaned[cols_with_missing].isnull().sum()

Match Time in Seconds       0
Skill / Belt                0
Submission                  0
Team                     8276
dtype: int64

In [46]:
Ranks = df_cleaned.groupby(['Skill / Belt', 'Submission']).size()

In [47]:
Ranks

Skill / Belt  Submission
ADVANCED      AMERICANA LOCK        26
              ANKLE LOCK            12
              ARM TRIANGLE          15
              ARMBAR               152
              ARMLOCK                5
                                  ...
WHITE         VAN FLUE CHOKE         1
              VERBAL SUBMISSION      6
              VON FLUE CHOKE         1
              WRISTLOCK             17
              ZIPTIE CHOKE           1
Length: 541, dtype: int64

In [49]:
print('''
Need to make a separate column for type of submission general - choke or armlock

''')

Need to make a separate column for type of submission general - choke or armlock