In [13]:
import pandas as pd
from io import StringIO
import requests
from plotnine import *
from dplython import (DplyFrame, X, diamonds, select, sift, sample_n,
    sample_frac, head, arrange, mutate, group_by, summarize, DelayFunction)

In [24]:
print('''

US Grappling Brazilian Jiu-jitsu Match Data from 2010-2019'
Submission Only Data for adult and points for Juvenile


''')

US Grappling Brazilian Jiu-jitsu Match Data from 2010-2019'
Submission Only Data for non-juvenile and points for Juvenile

In [15]:
df = pd.read_csv('MasterList.csv', delimiter=',')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8983 entries, 0 to 8982
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Match Time in Seconds  8933 non-null   object
 1   Gi/No Gi               8983 non-null   object
 2   Skill / Belt           8968 non-null   object
 3   Division               8983 non-null   object
 4   Submission             8864 non-null   object
 5   Team                   538 non-null    object
 6   Conference             8983 non-null   object
 7   Year                   8983 non-null   int64
dtypes: int64(1), object(7)
memory usage: 561.6+ KB

In [6]:
df['Gi/No Gi'] = df['Gi/No Gi'].astype('category')
df['Match Time in Seconds'] = pd.to_numeric(df['Match Time in Seconds'], errors='coerce')
df['Skill / Belt'] = df['Skill / Belt'].astype('category')
df['Division'] = df['Division'].astype('category')
df['Conference'] = df['Conference'].astype('category')
df['Submission'] = df['Submission'].astype('category')
df['Team'] = df['Team'].astype('category')

In [7]:
df

,Match Time in Seconds,Gi/No Gi,Skill / Belt,Division,Submission,Team,Conference,Year
0,29.0,GI,ADVANCED,JUVENILE,ARMBAR,NaN,RICHMOND 2016,2016
1,75.0,GI,ADVANCED,JUVENILE,ARMBAR,NaN,RALEIGH 2017,2017
2,43.0,GI,ADVANCED,JUVENILE,ARMBAR,NaN,COLUMBIA 2018,2018
3,87.0,GI,ADVANCED,JUVENILE,ARMBAR,NaN,RICHMOND 2018,2018
4,534.0,GI,ADVANCED,JUVENILE,ARMBAR,NaN,RICHMOND 2018,2018
...,...,...,...,...,...,...,...,...
8978,3263.0,NO GI,NaN,MEN 30+,ARMBAR,NaN,RALEIGH 2017,2017
8979,165.0,NO GI,NaN,MEN 30+,ARMBAR,NaN,RICHMOND 2017,2017
8980,314.0,NO GI,NaN,MEN 30+,KIMURA,NaN,RALEIGH 2017,2017
8981,354.0,NO GI,NaN,MEN 30+,KIMURA,NaN,RICHMOND 2017,2017
8982,538.0,NO GI,NaN,MEN 30+,SCISSOR CHOKE,NaN,RICHMOND 2017,2017

In [37]:
df

,Match Time in Seconds,Gi/No Gi,Skill / Belt,Division,Submission,Team,Conference,Year
0,52.0,NO GI,ADVANCED,MEN,NaN,NaN,COLUMBIA 2018,2018
1,298.0,NO GI,ADVANCED,MEN,NaN,NaN,COLUMBIA 2018,2018
2,147.0,NO GI,ADVANCED,MEN,NaN,NaN,COLUMBIA 2018,2018
3,99.0,NO GI,ADVANCED,MEN,NaN,NaN,COLUMBIA 2018,2018
4,65.0,NO GI,ADVANCED,MEN,NaN,NaN,COLUMBIA 2018,2018
...,...,...,...,...,...,...,...,...
8978,3263.0,NO GI,NaN,Men 30+,ARMBAR,NaN,RALEIGH 2017,2017
8979,165.0,NO GI,NaN,Men 30+,ARMBAR,NaN,RICHMOND 2017,2017
8980,314.0,NO GI,NaN,Men 30+,KIMURA,NaN,RALEIGH 2017,2017
8981,354.0,NO GI,NaN,Men 30+,KIMURA,NaN,RICHMOND 2017,2017
8982,538.0,NO GI,NaN,Men 30+,SCISSOR CHOKE,NaN,RICHMOND 2017,2017

In [9]:
cols_with_missing = df.columns[df.isnull().any()].tolist()
df[cols_with_missing].isnull().sum()

Match Time in Seconds      53
Skill / Belt               15
Submission                119
Team                     8445
dtype: int64

In [10]:
df_cleaned = df.dropna(subset=['Match Time in Seconds','Submission','Skill / Belt'])

In [11]:
cols_with_missing = df_cleaned.columns[df.isnull().any()].tolist()
df_cleaned[cols_with_missing].isnull().sum()

Match Time in Seconds       0
Skill / Belt                0
Submission                  0
Team                     8273
dtype: int64

In [12]:
Ranks = df_cleaned.groupby(['Skill / Belt', 'Submission']).size()

In [9]:
Ranks

Skill / Belt  Submission
ADVANCED      2X4 CHOKE             0
              ACHILLES LOCK         0
              AMERICANA            26
              ANACONDA              0
              ANACONDA CHOKE        0
                                   ..
WHITE         VERBAL SUBMISSION     6
              VON FLUE CHOKE        1
              WRISTLOCK            17
              ZEKE CHOKE            0
              ZIPTIE CHOKE          1
Length: 3168, dtype: int64

In [ ]:
'''
Need to make a separate column for type of submission general - choke or armlock

'''